<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout :: frgHead">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>

<body id="page-top">
	<div id="wrapper">

		<ul th:replace="Layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="Layout :: frgNavbar"></nav>

				<div class="container-fluid">

					<!-- Page Heading -->
				
					<form th:object="${diario}" method="post">
							<h1 class="h3 mb-4 text-gray-800" th:text="*{fechaDiario()}"></h1>
						<table class="table table-striped"  cellspacing="0">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Llenos</th>
									<th>Vacios</th>
								</tr>
							</thead>
							<tbody>
							<tr >
									<td >Camion GH</td>
									<td th:text="*{hg_cantidad}"></td>
									<td th:text="*{hg_llenos}"></td>
									<td th:text="*{resta(hg_cantidad,hg_llenos)}"></td>
								</tr>
								
								
								<tr >
									<td >Camion GD</td>
									<td th:text="*{gd_cantidad}"></td>
									<td th:text="*{gd_llenos}"></td>
									<td th:text="*{resta(gd_cantidad,gd_llenos)}"></td>
								</tr>
								<tr >
									<td >Camion FC</td>
									<td th:text="*{fc_cantidad}"></td>
									<td th:text="*{fc_llenos}"></td>
									<td th:text="*{resta(fc_cantidad,fc_llenos)}"></td>
								</tr>
								<tr >
									<td >Cilindros Inoperativos</td>
									<td th:text="*{inoperativos_cantidad}"></td>
									<td></td>
									<td></td>
									
								</tr>
								<tr >
									<td >Cilindros Industriales</td>
									<td th:text="*{industriales_cantidad}"></td>
									<td th:text="*{industriales_llenos}"></td>
									<td th:text="*{resta(industriales_cantidad,industriales_llenos)}"></td>
									
								</tr>
								<tr >
									<td >Bodega Lago Agrio</td>
									<td th:text="*{lago_cantidad}"></td>
									<td th:text="*{lago_llenos}"></td>
									<td th:text="*{resta(lago_cantidad,lago_llenos)}"></td>
								</tr>
								<tr >
									<td >Bodega Gral Farfan</td>
									<td th:text="*{farfan_cantidad}"></td>
									<td th:text="*{farfan_llenos}"></td>
									<td th:text="*{resta(farfan_cantidad,farfan_llenos)}"></td>
								</tr>
								<tr >
									<td >Prestados</td>
									<td th:text="*{prestados_cantidad}"></td>
									<td COLSPAN=2 th:text="*{prestados_personas}"></td>
									
								</tr>
								<tr >
									<td >Prestamos Eventuales</td>
									<td th:text="*{prestadoseven_cantidad}"></td>
									<td COLSPAN=2 th:text="*{prestadoseven_personas}"></td>
									
								</tr>
								<tr >
									<td >Pedidos eventuales</td>
									<td th:text="'-'+*{pedidoseven_cantidad}"></td>
									<td COLSPAN=2 th:text="*{pedidoseven_personas}"></td>
									
								</tr>
								
								<tr style="background-color:#AAF98F" >
									<td >TOTAL</td>
									<td th:text="*{TotalUbicacion ()}"></td>
									<td th:text="*{TotalUbicacionllenos ()}"></td>
									<td th:text="*{resta(TotalUbicacion (),TotalUbicacionllenos ())}"></td>
								</tr>
							</tbody>
						</table>

						
						<table class="table table-striped" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Observaciones</th>
									
								</tr>
							</thead>
							<tbody>
								<tr >
									<td >Rosita</td>
									<td th:text="*{rosita_cantidad}"></td>
									<td th:text="*{rosita_observacion}"></td>
								</tr>
								<tr >
									<td >Leoncio</td>
									<td th:text="*{leoncio_cantidad}"></td>
									<td th:text="*{leoncio_observacion}"></td>
								</tr>
								
								<tr >
									<td >Leonardo</td>
									<td th:text="*{leonardo_cantidad}"></td>
									<td th:text="*{leonordo_observacion}"></td>
								</tr>
								
							
								
								<tr style="background-color:#AAF98F" >
									<td >TOTAL</td>
									<td th:text="*{TotalDuenos ()}"></td>
								</tr>
								<tr style="background-color:#F9EC15" >
									<td COLSPAN=3>Notas</td>
								</tr>
								<tr style="background-color:#F9EC15" >
									<td COLSPAN=3 th:text="'- ' +*{nota1}"></td>
								</tr>
								<tr style="background-color:#F9EC15" >
									<td COLSPAN=3 th:text="'- ' +*{nota2}"></td>
								</tr>
								<tr style="background-color:#F9EC15" >
									<td COLSPAN=3 th:text="'- ' +*{nota3}"></td>
								</tr>
							</tbody>
						</table>

					</form>



				</div>

			</div>

			<footer th:replace="Layout :: frgFooter"> </footer>

		</div>

	</div>





</body>
</html>